header {
  position: absolute;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  width: 100%;
  justify-content: center;
}

footer {
  position: fixed;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  bottom: 0;
  background-color: black;
  padding: 10px;
  width: 100%;
  text-align: center;
}

body {
  background-image: linear-gradient(to left, rgb(60, 0, 60) 0%, rgb(0, 0, 40) 100%);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50px;
  position: absolute;
  top: 85px;
  margin-left: -200px;
}

main {
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
  width: 1000px;
  max-width: 80%;
  background-color: transparent;
  transition: max-width 0.5s ease;
}

#video {
  width: 100%;
  margin: 0px;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  border-radius: 10px 0px;
  padding: 0px;
  background-image: linear-gradient(rgb(0, 140, 255), rgb(72, 72, 255));
  top: 10px;
  max-width: 75%;
  width: 900px;
  z-index: 999;
  transition: max-width 0.5s ease;
}

.nav-link {
  background-color: transparent;
  border: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 10px 0px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 800;
}

.nav-link:hover {
  background-image: linear-gradient(to top right, rgb(0, 0, 189), rgb(0, 140, 255));
}

.nav-site {
  background-color: transparent;
  border: transparent;
  width: 100%;
  padding: 10px;
  border-radius: 10px 0px;
  text-decoration: none;
  text-align: center;
  color: white;
  font-weight: 800;
}

.nav-site:hover {
  background-image: linear-gradient(to top right, rgb(0, 0, 189), rgb(0, 140, 255));
}

#models-div {
  margin-top: -5px;
  background-image: linear-gradient(to bottom right, blue, purple);
  display: flex;
  padding: 10px;
  padding-top: 50px;
  flex-direction: column;
}

h1 {
  position: absolute;
  top: 70px;
  margin-left: 50px;
}

h2 {
  font-size: 2.2rem;
  margin: 0px;
}

#models-sel-div {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 200px;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.model {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.features {
  font-size: 0.7rem;
  line-height: 1rem;
}

.model-name {
  text-align: right;
  font-size: 1.5rem;
  margin: 0px;
}

.buy {
  border: none;
  color: white;
  background-color: rgb(8, 8, 8);
  border-radius: 5px;
  padding: 4px;
  width: 40%;
  align-self: center;
  transition: all 0.3s ease;
}

.buy:hover {
  background-color: rgb(18, 18, 18);
  transition: all 0.2s ease;
}

.buy:active {
  background-color: rgb(51, 51, 51);
  transition: all 0.05s ease;
}

#features-div {
  display: grid;
  margin-top: -20px;
  padding: 10px;
  padding-top: 50px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, minmax(200px, fit-content));
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: white;
  color: black;
}

.video-ani {
  justify-self: center;
  align-self: center;
  width: 100%;
  height: 100%;
}

#video-ani-1 {
  order: 2;
}

#video-ani-2 {
  order: 3;
}

#video-ani-3 {
  order: 6;
}

#text-1 {
  order: 1;
}

#text-2 {
  order: 4;
}

#text-3 {
  order: 5;
}

@media (max-width: 900px) {
  #models-sel-div {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 250px;
    grid-template-rows: repeat(3, 200px);
    grid-template-columns: 1fr;
  }
}

@media (max-width: 750px) {
  main {
    max-width: 100%;
    transition: max-width 0.5s ease;
  }
}

@media (max-width: 1150px) {
  nav {
    max-width: 96%;
    transition: max-width 0.5s ease;
  }
}

@media (max-width: 700px) {
  #features-div {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, fit-content);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
  }
  #video-ani-1 {
    order: 1;
  }
  
  #video-ani-3 {
    order: 5;
  }
  
  #text-1 {
    order: 2;
  }
  
  #text-3 {
    order: 6;
  }

  .video-ani { 
    max-height: 300px;
  }
}